html, body {
  margin: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
}
#sidenavs {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 20px;
  bottom: 0;
  overflow-y: scroll;
  padding: 2.2em 0;
  width: 260px;
  margin-right: 20px;
}
#example {
  margin: 0 0 0 320px;
  padding: 2.2em 0;
  max-width: 600px;
  height: 100%;
}
#sidenavs ul, a.vuelink {
  line-height: 1.8em;
}
#sidenavs ul {
  list-style-type: none;
  margin: 0;
  padding-left: 1em;
}
#sidenavs a, a.vuelink {
  text-decoration: none;
  color: #7f8c8d;
}
#sidenavs a:hover,
a:hover.vuelink,
#sidenavs a.current {
  border-bottom: 2px solid #42b983;
}
