html, body {
  margin: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
}
#sidenavs {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  padding: 1.2em 20px 20px;
  width: 240px;
}
#example {
  margin: 0 auto;
}
#sidenavs ul, a.vuelink {
  line-height: 1.8em;
}
#sidenavs ul {
  list-style-type: none;
  margin: 0;
  padding-left: 1em;
}
#sidenavs a, a.vuelink {
  text-decoration: none;
  color: #7f8c8d;
}
#sidenavs a:hover,
a:hover.vuelink,
#sidenavs a.current {
  border-bottom: 2px solid #42b983;
}
#example-content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 2.2em 20px 20px 300px;
  margin: 0 auto;
}
#example-content h1 {
    margin: 0 0 1em;
}
#example-content blockquote {
  margin: 2em 0;
  padding-left: 20px;
  border-left: 4px solid #42b983;
}
