@import "todo.css";

:root {
  --purple: #847AD1;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
}

body {
  margin: 40px auto;
  width: 600px;
}
