{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "plugins": ["riot"],
  "rules" : {
    "semi": [2, "never"],
    "no-underscore-dangle": 0,
    "no-unused-vars": [2, {"args": "after-used", "argsIgnorePattern": "^_"}],
    "no-param-reassign": [2, {"props": false}],
  },
  "globals": {
    "riot": true,
    "opts": true,
  },
}
