<detail-view>
  <h2>{_post.title}</h2>
  <p>{_post.content}</p>
  <a if={ opts.data > 1 } href="#detail/{ opts.data - 1 }">Previous Post</a> |
  <a if={ opts.data < _total } href="#detail/{ opts.data - -1 }">Next Post</a>


  <script type="es6">
  this._post = null
  this._total = 0

  this.on('mount', () => {
    riot.control.trigger('ve_detailview_init', opts.data)
  })

  riot.control.on('se_viewing_post_changed', (post, total) => {
    this._post = post
    this._total = total
    this.update()
  })
  </script>
</detail-view>
